:root {
    --rvanblack: #121212;
    --textdark: #333333;
    --textlight: #828282;
    --textemphasis: #EC5757;
  }

/* Page configuration */

  #root{
    height: 100vh;
    width: 100vw;

    position: fixed;

  }
  .App {
    margin-left: 0pt; 
    top: 40;
    right: 0;
    left: 0;
    z-index: 1030;
  }
 .container-page
  {
    padding-top: 40px;
    position: static;
    height: 100vh;
    width: 100vw;
  }
  .container, .container-lg, .container-md, .container-sm, .container-xl{
    max-width:max-content;
    max-height: max-content;
  }

  /* Nav Bar styles */
  .navbar-rvn{
    height:50px;
    background-color : var(--rvanblack);
    text-indent: 33px;
  }
  .navbar-rvn p {
    text-align: left;
    color: white;
    font-size: 20px;
    padding-top: 1px;
    font-weight: bold;
  }
  .fixed-top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  
/* CSS TO LIST OF CHARACTER */

  .container-page
  {
    padding-top: 40px;
    position: static;
    height: 100vh;
    width: 100vw;
  }

  .Registerview{
    margin-top: 45px;
  }

  .Right{
    padding-top: 15px;
    text-align: center;
    position: relative;
  }
  .Left{
    padding-top: 15px;
    padding-bottom: 40px ;
    border-right: 1px solid var(--textdark);
    text-align: left;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom-width: 30px;
    border-bottom-style: solid;
  }
  .loader{
    padding-left: 30px;
  }
 
  .Reference{
    text-decoration: none;
    margin-bottom: 0px;
    border-color: var(--textlight);
    margin-bottom: 10px;
  }
  .Reference:hover{
    text-decoration: none;
  }
  .Reference hr{
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .Reference h2 {
    padding-top: 10px;
    color : var(--textdark);
    font-size: 17px;
    font-weight: bold;
    margin-left: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .Reference p {
    color : var(--textlight);
    font-size: 14px;
    margin-left: 30px;
    margin-bottom: 0px;
    padding-bottom: 10px;
  }
  .Character:hover{
    background-color: gainsboro;
  }